// COLOR PALETTE:
$blackClr: #000000;
$whiteClr: #ffffff;

// LAYOUT:
$layoutPadding: 20px;

//LAYOUT BREAKPOINTS:
$break-normal: 1264px;
$break-narrow: 1160px;
$break-mobile: 768px;
$break-wide: 1920px; //TODO: check

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
